#profile_pic {
    border-radius:50%;
}

#section_title {
    text-decoration:underline;
    margin-top:100px;
    
}

#section_keywords {
    text-decoration:underline;
    font-weight:bold;
}

#project_titles {
    text-decoration:underline;
    
}

#project_descriptions {
    margin-top:100px;
}

#paragraph_spacing {
    margin-top:25px;
}

#center_image {
    display: flex;
    justify-content: center;
}

.card{
    height: 100%; 
  }